body{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #f4f4f4;
 

}
.ancho{
    width: 100%;
    margin: auto;
    text-align: center;

}
.horario{
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border-spacing: 15px;
}
.horario th{
    background-color: #750000;
    color: #fff;
    padding: 10px 0;
    border-radius: 10px;
    font-size: large;
   

}
.horario td{
    padding: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.javascript{
    background-color: #c58e00;
    color:#fff;
    font-size: large;
    font-weight: bold;
}
.animaciones{
    background-color: #c5c5c5;
    color:#000;
    font-size: large;
    font-weight: bold;

}
.logo_tec{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.container{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
a{
    font-size: medium;
    color: #750000;
}