/* basics */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.basic {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.head{
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #F2F2F2;
}
.logo-container {
  display: flex;
  margin: 15px auto;
  width: 300px;
  height: 100px;
}
.logo-container img{
  width: 100%;
  height: 100%;
}
.line{
  height: 20px;
  width: 100%;
  border: none;
  background-color: #6298D1;
}

/* formulario */

.req-field {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#275285;
  font-size: 20px;
}

.line-form{
  height: 5px;
  width: 100%;
  border: none;
  background-color: #275285;
  border-radius: 45px;
}
.form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.side-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
  width: 50%;
}

.inp-class{
  width: 100%;
  height: 50px;
  margin: 10px 5px;
  padding: 0 10px;
  border: 1px solid #275285;
  border-radius: 15px;
  font-size: 20px;
}

.data-to{
  width: 100%;
  height: 50px;
  padding: 0 10px;
  font-size: 20px;
  background-color: #F2F2F2;
  color:#275285;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.notice{
  width: 100%;
  height: 50px;
  padding: 0 10px;
  font-size: 20px;
  color: #CF2A1C;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
}
.input-max{
  width: 50%;
  height: 50px;
  padding: 0 10px;
  font-size: 20px;
  color:#275285;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

.btn{
  width: 50%;
  height: 50px;
  margin: 20px 0;
  background-color: #275285;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.text-area{
  width: 100%;
  height: 100px;
  margin: 15px 5px;
  padding: 0 10px;
  border: 1px solid #275285;
  border-radius: 15px;
  font-size: 20px;
}

/* banner */

.banner{
  padding: 10px 0;
}
.banner h1{
size: 50px;
margin: 20px 150px;
}
.blue-leter{
  color:#023270;
}

.btn-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.btn-general{
  width: 35%;
  height: 50px;
  margin: 20px 40px;
  padding: 10px 15px;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btn-blue-1{
  background-color: #6397D1;
}
.btn-blue-2{
  background-color:#023270;
}

.description{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
  border: 1px solid #275285;
}

.info{
  width: 45%;
  height: 300px;
  padding: 10px;
  border: 1px solid #275285;
  border-radius: 15px;
  font-size: 20px;
  color:#275285;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.foot{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #275285;
  color: white;
}