.img-index{
    width: 100%;
    height:   100vh;

    object-fit: cover;
    background-image:url('../img/mikyway.png') ;

    justify-content: center;
    align-content: center;
}

.intro {
  margin: auto;
  text-align: center; /* Center elements horizontally */
  display: flex; /* Use flexbox for vertical layout */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally within the intro div */
  color: white;
  
}

.intro a {
  margin: auto 0; /* Adjust margin for spacing between logo and text */
  border: none; /* Remove border */
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
}


